@font-face{
    font-family: 'TravelingTypewriter';
    src: url('../polices/TravelingTypewriter.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Fragmentcore';
    src: url('../polices/Fragmentcore.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;
}
#main-cluj{
    background-image: url("../images/Cluj Napoca/fond.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:40px;
}
#video-cluj{
    border-radius:40px;
    display: block;
    margin-left: auto;
    margin-right:auto;
}
#body-cluj{
    background-color:rgb(99, 87, 49);
}
