@font-face{
    font-family: 'TravelingTypewriter';
    src: url('../polices/TravelingTypewriter.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Fragmentcore';
    src: url('../polices/Fragmentcore.otf') format('OpenType');
    font-weight: normal;
    font-style: normal;
}

#headlb{
	background-image: url("../images/milan/milano.jpg");
	opacity: 0.8;
	background-size: 1400px 500px;
    height: 500px;
	width: 100%;
	border-radius: 20px;
}
#navigationlb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 100px;
}
#navigationlb h1{
	font-family: 'TravelingTypewriter';
	font-size: 40px;
	font-weight: bold;
	color: white;
	margin-left: 150px;
}
#navlb{
	width: 420px;
	display: flex;
	justify-content: space-around;
	background-color: rgba(255,255,255,0.1);
	border: solid white;
	border-radius: 20px;
	padding: 10px;
}
#navlb img{
    width: 50px;
    height: 50px;
}
#navlb img:hover{
	opacity: 0.3;
}
#firstcontainter{
	display: flex;
}
#firstcontainter h1{
	font-family: 'TravelingTypewriter';
	font-size: 30px;
	font-weight: bold;
	color: black;
	margin-left: 150px;
}
#whytovisit{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	max-width: 50%;
	padding: 20px;
}
#whattovisit{
	max-width: 50%;
	padding: 20px;
}

